<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/contato.css">

    <title>Contato</title>
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <nav>
            <div class="nav-logo">
                <img src="../assets/img/logo-ford-256.png" alt="Logo da Ford">
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="lancamento.html">Lançamento</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
    <main>
        <div class="container">
            <div class="car-image">
                <img class="car-image" src="../assets/img/xls 2.2 diesel.jpg" alt="Imagem do carro">
            </div>
            <div class="contact-form">
                <form action="" method="post">
                    <h3>Sobre Você</h3>
    
                    <input type="text" placeholder="Nome Completo" required>
                    <input type="email" placeholder="E-mail" required>
                    <input type="text" placeholder="Telefone" required>
    
                    <select required>
                        <option value="" disabled selected>Tipo de Contato</option>
                        <option value="ELOGIO">Elogio</option>
                        <option value="SOLICITACAO">Solicitação</option>
                        <option value="RECLAMACAO">Reclamação</option>
                    </select>
    
                    <textarea cols="30" rows="10" placeholder="Descreva sua solicitação..."></textarea>
                
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Rodapé -->
    <footer>
        <div class="social">
            <img src="../assets/img/instagram-logo-50.png" alt="Link para o instagram da ford">
            <img src="../assets/img/facebook-50.png" alt="Link para o facebook da ford">
            <img src="../assets/img/youtube-squared-50.png" alt="Link para o youtube da ford">
        </div>
        <img src="../assets/img/ford-96.png" alt="Imgaem logo ford">
    </footer>
</body>
</html>