<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/lancamento.css">

    <title>Lançamento</title>
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <nav>
            <section class="nav-logo">
                <img src="../assets/img/logo-ford-256.png" alt="Logo da Ford">
            </section>
            <section class="nav-links">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="lancamento.html">Lançamento</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </section>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
    <main>

        <!-- Vídeo Principal -->
        <video controls loop autoplay>
            <source src="../assets/videos/videoplayback.mp4" type="video/mp4">
        </video>

        <!-- Tabela de Carros -->
        <section class="car-compare">
            <h1>OS MELHORES CARROS FORD RANGER 2022</h1>
            <table class="car-table">
                <tr>
                    <td>
                        <div class="car">
                            <img class="car-image" src="../assets/img/storm.jpg" alt="Carro Ford Storm">
                            <div class="car-infos">
                                <div class="car-selection">
                                    <input id="car-checkbox-storm" class="car-checkbox" type="checkbox">
                                    <label for="car-checkbox-storm" class="car-title">Ford Ranger Storm 2022</label>
                                    <img class="car-help" src="../assets/img/info.png" alt="Mais informações sobre o carro Ford Storm">
                                </div>
                                <p class="car-desc">Corporis libero officiis nostrum saepe ullam architecto sit in sunt nihil neque</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="car">
                            <img class="car-image" src="../assets/img/XL Cabine.jpg" alt="Carro Ford Storm">
                            <div class="car-infos">
                                <div class="car-selection">
                                    <input id="car-checkbox-cabine" class="car-checkbox" type="checkbox">
                                    <label for="car-checkbox-cabine" class="car-title">Ford Ranger XL Cabine 2022</label>
                                    <img class="car-help" src="../assets/img/info.png" alt="Mais informações sobre o carro Ford Storm">
                                </div>
                                <p class="car-desc">Corporis libero officiis nostrum saepe ullam architecto sit in sunt nihil neque</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="car">
                            <img class="car-image" src="../assets/img/xls 2.2 diesel.jpg" alt="Carro Ford Storm">
                            <div class="car-infos">
                                <div class="car-selection">
                                    <input class="car-checkbox" type="checkbox">
                                    <label class="car-title">Ford Ranger XLS 2.2 Diesel 2022</label>
                                    <img class="car-help" src="../assets/img/info.png" alt="Mais informações sobre o carro Ford Storm">
                                </div>
                                <p class="car-desc">Corporis libero officiis nostrum saepe ullam architecto sit in sunt nihil neque</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="car-submit-button">
                <button type="button">Comparar Carros</button>
            </div>
        </section>
    </main>

    <!-- Rodapé -->
    <footer>
        <div class="social">
            <img src="../assets/img/instagram-logo-50.png" alt="Link para o instagram da ford">
            <img src="../assets/img/facebook-50.png" alt="Link para o facebook da ford">
            <img src="../assets/img/youtube-squared-50.png" alt="Link para o youtube da ford">
        </div>
        <img src="../assets/img/ford-96.png" alt="Imagem logo ford">
    </footer>
</body>
</html>