<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/contato.css">

    <title>Contato</title>
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <nav>
            <div class="nav-logo">
                <a href="home.html">
                    <img src="../assets/img/logo-ford-256.png" alt="Logo da Ford">
                </a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="lancamento.html">Lançamento</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
    <main>
        <div class="container">
            <div class="car-image">
                <img class="car-image" src="../assets/img/xls 2.2 diesel.jpg" alt="Imagem do carro">
            </div>
            <div class="contact-form">
                <form action="" method=""> <!-- Recomendado colocar o method="POST", ma há uma tentativa de requisição para um http inexistente -->
                    <h3>Sobre Você</h3>
    
                    <input id="contact-name" type="text" placeholder="Nome Completo" required>
                    <input id="contact-email" type="email" placeholder="E-mail" required>
                    <input id="contact-phone" type="text" placeholder="Telefone" required>
    
                    <select id="contact-type" required>
                        <option value="" disabled selected>Tipo de Contato</option>
                        <option value="ELOGIO">Elogio</option>
                        <option value="SOLICITACAO">Solicitação</option>
                        <option value="RECLAMACAO">Reclamação</option>
                    </select>
    
                    <textarea id="contact-desc" cols="30" rows="10" placeholder="Descreva sua solicitação..."></textarea>
                
                    <p>Os dados serão mantidos em nossa base de dados, só enquanto for desejado por você. A qualquer momento, será possível editar ou remover tais dados. <a href="https://www.ford.com.br/politica-de-privacidade/" target="_blank">Termos e Condições</a></p>

                    <div class="checkboxes">
                        <div id="terms" class="checks">
                            <input id="input-terms" type="checkbox">
                            <label for="input-terms">Sim, li e concordo com os vossos termos.</label>
                        </div>
    
                        <div id="news" class="checks">
                            <input id="input-news" type="checkbox">
                            <label for="input-news">Sim, também quero receber descontos e novidades.</label>
                        </div>
                    </div>

                    <button id="btnForm" type="submit" disabled>Enviar</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Rodapé -->
    <footer>
        <div class="social">
            <img src="../assets/img/instagram-logo-50.png" alt="Link para o instagram da ford">
            <img src="../assets/img/facebook-50.png" alt="Link para o facebook da ford">
            <img src="../assets/img/youtube-squared-50.png" alt="Link para o youtube da ford">
        </div>
        <img src="../assets/img/ford-96.png" alt="Imgaem logo ford">
    </footer>

    <script src="../scripts/form.js"></script>
</body>
</html>