<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/lancamento.css">

    <title>Lançamento</title>
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <nav>
            <section class="nav-logo">
                <a href="home.html">
                    <img src="../assets/img/logo-ford-256.png" alt="Logo da Ford">
                </a>
            </section>
            <section class="nav-links">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="lancamento.html">Lançamento</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </section>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
    <main>

        <!-- Vídeo Principal -->
        <video controls loop autoplay>
            <source src="../assets/videos/videoplayback.mp4" type="video/mp4">
        </video>

        <!-- Tabela de Carros -->
        <section class="car-compare">
            <h1>OS MELHORES CARROS FORD RANGER 2022</h1>
            <table class="car-table">
                <tr>
                    <td>
                        <div class="car">
                            <img class="car-image" src="../assets/img/storm.jpg" alt="Carro Ford Storm">
                            <div class="car-infos">
                                <div class="car-selection">

                                    <input id="car-checkbox-storm" class="car-checkbox" type="checkbox"
                                    onchange="SetCarToCompare(this, new Car('Storm 3.2 Diesel 4X4 AT 2022', 222790.00, '../assets/img/storm.jpg', 3.2, 'Liga Leve 17', 200, 1180, 511, 1821, 232, 1040))">

                                    <label for="car-checkbox-storm" class="car-title">Storm 3.2 Diesel 4X4 AT 2022</label>

                                    <img class="car-help" src="../assets/img/info.png" alt="Mais informações sobre o carro Ford Storm">
                                </div>
                                <p class="car-desc">Corporis libero officiis nostrum saepe ullam architecto sit in sunt nihil neque</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="car">
                            <img class="car-image" src="../assets/img/XL Cabine.jpg" alt="Carro Ford Storm">
                            <div class="car-infos">
                                <div class="car-selection">
                                    <input id="car-checkbox-cabine" class="car-checkbox" type="checkbox"
                                    onchange="SetCarToCompare(this, new Car('XL Cabine Simples 2.2 Diesel 4X4 MT 2022', 222790.00, '../assets/img/XL Cabine.jpg', 3.2, 'Liga Leve 17', 200, 1180, 511, 1821, 232, 1040))">
                                    
                                    <label for="car-checkbox-cabine" class="car-title">XL Cabine Simples 2.2 Diesel 4X4 MT 2022</label>

                                    <img class="car-help" src="../assets/img/info.png" alt="Mais informações sobre o carro Ford Storm">
                                </div>
                                <p class="car-desc">Corporis libero officiis nostrum saepe ullam architecto sit in sunt nihil neque</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="car">
                            <img class="car-image" src="../assets/img/xls 2.2 diesel.jpg" alt="Carro Ford Storm">
                            <div class="car-infos">
                                <div class="car-selection">
                                    <input id="car-checkbox-xls" class="car-checkbox" type="checkbox"
                                    onchange="SetCarToCompare(this, new Car('XLS 2.2 Diesel 4X4 AT 2022', 222790.00, '../assets/img/xls 2.2 diesel.jpg', 3.2, 'Liga Leve 17', 200, 1180, 511, 1821, 232, 1040))">

                                    <label class="car-title" id="car-name">XLS 2.2 Diesel 4X4 AT 2022</label>

                                    <img class="car-help" src="../assets/img/info.png" alt="Mais informações sobre o carro Ford Storm">
                                </div>
                                <p class="car-desc">Corporis libero officiis nostrum saepe ullam architecto sit in sunt nihil neque</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="car-submit-button"> 
                <button type="button" onclick="ShowCompare()">Comparar Carros</button>
            </div>
        </section>

        <!-- Modal Compare -->
        <dialog id="modal-compare" class="modal-compare">
            <table>
                <thead>
                    <tr id="car-compare-img">
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="car-compare-name"><th>Modelo</th></tr>
                    <tr id="car-compare-bucket-height"><th>Altura da Caçamba</th></tr>
                    <tr id="car-compare-height"><th>Altura do Veículo</th></tr>
                    <tr id="car-compare-ground-height"><th>Altura Livre do Solo</th></tr>
                    <tr id="car-compare-load-capacity"><th>Capacidade de Carga</th></tr>
                    <tr id="car-compare-motor"><th>Motor</th></tr>
                    <tr id="car-compare-potency"><th>Potência</th></tr>
                    <tr id="car-compare-bucket-volume"><th>Volume da Caçamba</th></tr>
                    <tr id="car-compare-wheel"><th>Roda</th></tr>
                    <tr id="car-compare-price"><th>Preço</th></tr>
                </tbody>
            </table>

            <div class="car-compare-button">
                <button type="button" onclick="HideCompare()">Fechar</button>
            </div>
        </dialog>

    </main>

    <!-- Rodapé -->
    <footer>
        <div class="social">
            <img src="../assets/img/instagram-logo-50.png" alt="Link para o instagram da ford">
            <img src="../assets/img/facebook-50.png" alt="Link para o facebook da ford">
            <img src="../assets/img/youtube-squared-50.png" alt="Link para o youtube da ford">
        </div>
        <img src="../assets/img/ford-96.png" alt="Imagem logo ford">
    </footer>

    <!-- Apenas um carro escolhido -->
    <dialog id="error-compare" class="error-compare">
        <div class="error-bar"><img onclick="CloseErrorPopUp()" src="../assets/img/close-x.png" alt=""></div>
        <div class="error-container">
            <div class="error-img"><img src="../assets/img/error.png" alt="Error"></div>
            <h4 class="error-title"><strong>Erro Na Comparação</strong></h4>
            <p class="error-desc">Você deve escolher exatamente <strong>dois</strong> carros para realizar a comparação!</p>
        </div>
    </dialog>

    <script src="../scripts/compare.js"></script>
</body>
</html>