.main-img {
    width: 100%;
    border-radius: 16px;
}

main {
    height: 100%;

    & .main-content {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        & .left-side {
            padding: 30px;

            & .m-texts {
                margin-bottom: 50px;
                h1 {
                    text-align: center;
                }
                h4 {
                    text-align: justify;
                    margin-top: 20px;
                    font-weight: 400;
                }
            }

            & .discover-button {
                width: 100%;
            }
        }

    }

    button {
        background-color: #1351d8;
        color: aliceblue;
        border: none;
        padding: 16px;
        border-radius: 8px;
        margin-bottom: 30px;
        width: 100%;
        font-weight: 600;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    main {
        .main-content {
            & .m-img {
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;

        & .main-content {
            padding: 50px;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;

            & .m-img {
                margin-top: 0;
                padding: 30px;
            }

            & .left-side {
                & .m-texts {
                    & h1 {
                        text-align: start;
                    }
                }
            }
        }
    }
}

/* Animations */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}