video {
    width: 100%;
}

.car {
    margin-bottom: 42px;
    box-shadow: 0 8px 6px rgb(0, 0, 0, 0.2);
    padding: 50px 20px;
    border-radius: 8px;
    
    & .car-infos {
        & .car-selection {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        & p {
            text-align: justify;
        }

        & input {
            transform: scale(1.5);
        }

        & h4 {
            text-align: end;
            padding: 8px;
        }

        & .car-title {
            color: #1351d8;
            font-weight: 600;
            font-size: medium;
            text-align: center;
        }

        & .car-texts {
            padding-inline: 16px;
        }

        & img {
            height: 20px;
            width: 20px;
        }
    }
}

.car-compare {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
        text-align: center;
        font-weight: bolder;
        margin-bottom: 16px;
        color: #1b357e;
    }
}

button {
    background-color: #1351d8;
    color: aliceblue;
    border: none;
    padding: 16px;
    border-radius: 8px;
    margin-block: 30px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}


.modal-compare {
    border: none;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 8px rgb(0, 0, 0, 0.2);

    & table {
        & tbody {
            & th {
                text-align: start;
                padding: 8px;
            }

            & tr:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.8);
            }
            & tr:nth-child(odd) {
                background-color: rgb(0, 0, 0, 0.05);
            }
        }
    }
}

@media (min-width: 768px) {
    .car-table {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        & tbody {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 16px;
        }
    }

    .car-compare {
        display: flex;
        justify-content: center;
        & .car-submit-button {
            width: 100%;
            display: flex;
            justify-content: center;

            & button {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .car-table {
        & tbody {
            grid-template-columns: auto auto auto;
        }
    }

    .car {
        margin: 0;
        height: 100%;
        min-height: 400px;
    }
}